<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html">
<div layout:fragment="site">
    <div class="container">
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <form th:action="@{'/saveTask'}" method="post">
                    <div class="form-group mt-2">
                        <label>
                            TITLE:
                        </label>
                        <input type="text" class="form-control" name="title" th:value="${task.title}">
                    </div>
                    <div class="form-group mt-2">
                        <label>
                            STATUS:
                        </label>
                        <select name="status.id" class="form-control">
                            <option th:each="s:${status}" th:value="${s.id}" th:text="${s.status_name}"
                                    th:selected="${s.id==task.status.id}">
                            </option>
                        </select>
                        <input type="hidden" th:value="${task.id}" name="id">
                        <input type="hidden" th:value="${task.folders.id}" name="folders.id">
                    </div>
                    <div class="form-group mt-2">
                        <label>
                            DESCRIPTION:
                        </label>
                        <input type="text" class="form-control" name="description" th:value="${task.description}">
                    </div>
                    <div class="form-group mt-2">
                        <button class="btn btn-primary mt-2">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
</html>