<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html">
<div layout:fragment="site">
    <div class="container">
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <form th:action="@{'/saveTask'}" method="post">
                    <div class="form-group mt-2">
                        <label>
                            TITLE:
                        </label>
                        <input type="text" class="form-control" name="title" th:value="${task.title}">
                    </div>
                    <div class="form-group mt-2">
                        <label>
                            STATUS:
                        </label>
                        <select name="status.id" class="form-control">
                            <option th:each="s:${status}" th:value="${s.id}" th:text="${s.status_name}"
                                    th:selected="${s.id==task.status.id}">
                            </option>
                        </select>
                        <input type="hidden" th:value="${task.id}" name="id">
                        <input type="hidden" th:value="${task.folders.id}" name="folders.id">
                    </div>
                    <div class="form-group mt-2">
                        <label>
                            DESCRIPTION:
                        </label>
                        <input type="text" class="form-control" name="description" th:value="${task.description}">
                    </div>
                    <div class="form-group mt-2">
                        <button class="btn btn-primary mt-2 btn-sm">UPDATE</button>
                        <button type="button" class="btn btn-danger btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Delete Task
                        </button>
                    </div>
                </form>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="@{'/delete_task'}" method="post">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                                <input type="hidden" th:value="${task.id}" name="task_id">
                                <input type="hidden" th:value="${task.folders.id}" name="folder_id">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete task</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</html>